/* Basic tweet card styling */
.post {
    display: flex;
    flex-direction: column;
    border: 0.1px solid #415a77;
    padding: 12px;
    background-color: #22223b;
    font-size: 14px;
    color: white;
}

/* non mi piacciono molto gli hover in cui cambia il background color ma ok */
.post:hover {
    background-color: #415a77;
    cursor: pointer;
}

/* container per allineare Avatar e Username */
.avatar-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

/* foto profilo*/
.avatar img {
    object-fit: scale-down;
}

/* username */
.avatar-username {
    font-weight: bold;
    margin-left: 1%;
}

/* contenuto del post */
.tweet-content {
    margin-bottom: 8px;
}

/* post immagine */
.img img {
    width: 100%;
    max-height: 2160px;
    object-fit: fill;
    border-radius: 4px;
    max-width: fit-content;
}

/* Footer icone */
.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.footer:hover {
    /*TODO* 
        aggiungere i colori per le varie icone, come il rosso per il cuore e il verde per il retweet 
    */
}


.icon:hover {
    cursor: pointer;
}

.icon {
    margin-right: 12px;
}
