.like-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.like-button.liked {
    animation: fillLike 0.1s ease;
}

@keyframes fillLike {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}